<ion-row>
    <ion-col>
        <div class="mlft">
            <div>
                <ion-row>
                    <ion-col size="1">
                        <div><img src="../../assets/image/326655_history_icon 1.png" alt=""></div>
                    </ion-col>
                    <ion-col size="1">
                        <div><img src="../../assets/Mask group.png" alt=""></div>
                    </ion-col>
                    <ion-col class="margm">last modification : <span>28Mar @ 2022</span> at
                        <span>11:07am</span>
                    </ion-col>
                </ion-row>
            </div>
        </div>
    </ion-col>
</ion-row>
