.header{
    height: 100px;
    width: 96rem;
    border: 1px solid #f2efef;
    background-color: #FFFFFF;
    display: flex;
    box-shadow: 0px 2px #f2efef;
    display: flex;
}
.dynologo{
    padding-left: 15px;
    margin-top: 25px;
}
.box{
    margin-left: 75rem;
    display: flex;
    margin-top: 2rem;
}
.user{
    height: 35px;
    width: 36px;
}
.clr{
    color: aqua;
}

