<ion-header>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <div class="header white-bg ">
                    <ion-col>
                        <div class="dynologo">
                            <img src="../../assets/Dyno_logo_new.png" alt="">
                        </div>
                    </ion-col>

                    <ion-col >
                        <div class="dynologo">
                            <img [src]="dataReceving?.imageurl" alt="">
                        </div>
                    </ion-col>

                    <div class="box">
                        <ion-col  class="">
                            <div>
                                <ion-avatar>
                                    <img class="user" src="../../assets/Group 354.png" alt="">
                                </ion-avatar>
                            </div>
                        </ion-col>
                        <ion-col>
                            <div>
                            <ion-avatar>
                                <img class="user" src="../../assets/Mask group.png" alt="">
                            </ion-avatar>
                            </div>
                        </ion-col>
                    </div>
                    
                </div>
                
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>
        

