<ion-footer>
    <ion-toolbar>
        <ion-grid>
            <ion-col>
                <div class="footer">
                    <ion-row>
                        <ion-col size="6"><div class="Boxleft"> <img src="./../../assets/question 1.png" alt=""></div></ion-col>
                        <ion-col size="3"><div class="Boxleft"> <img src="./../../assets/Group 146.png" alt=""></div></ion-col>
                        <ion-col size="3"><div class="Boxleft"> <img src="./../../assets/3643728_balloon_chat_conversation_speak_word_icon 1.png" alt=""></div></ion-col>
                    </ion-row>
                </div>
            </ion-col>
        </ion-grid>
    </ion-toolbar>
</ion-footer>
