.card{
    height: 500px;
    width:63rem ;
    box-shadow:0 -2px 4px #42bfdd1a,0 4px 4px #42bfdd1a ;
    position: sticky;
    display: inline-block;
    margin-top: 10px;
    background-color: #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    padding-left: 10px;
    padding-top: 15px;
}

.boxtopmargin{
    margin-top: 5px;
}
.mlft{
    margin-left: 15px;
}
.margm{
    margin-top: 0px;
}
.img{
    height: 30px;
    width: 25px;
}

.box{
    margin-top: 40px;
    height: 25rem;
    width: 10rem;
    border: 1px solid #FFFFFF;
}

button{
    background-color: #FFFFFF;
}
label{
    color: gray;
}
// .box1{
//     height: 10px;
//     width: 10px;
// }
