.sidenav{
    position: sticky;
    display: inline-block;
    height: 500px;
    box-shadow: 0 -2px 4px #42bfdd1a, 0 4px 4px #42bfdd1a;
    border-radius: 8px 8px 8px 8px;
    width:180px ;
    margin-top: 10px;
    background-color: #FFFFFF;
}

.menu{
    margin-top: 7px;
}
.menu1{
    margin-top: 10px;
    margin-left: 5px;
}

.hamburger{
    margin-top: 25px;
    margin-left:15px;
}

.hamburger1{
    margin-top: 25px;
}
img{
    background-color: #FFFFFF;
}

li{
    list-style-type: none;
}