.box{
    height: 42rem;
    width:63rem ;
    box-shadow:0 -2px 4px #42bfdd1a,0 4px 4px #42bfdd1a ;
    position: sticky;
    display: inline-block;
    margin-top: 10px;
    background-color: #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    padding-left: 10px;
    margin: 10px;
    padding: 10px;
}

.border{
    height: 6rem;
    width: 12rem;
    box-shadow:0 -2px 4px #BBE6E4,0 4px 4px #BBE6E4;
    background-color: #F6FFFF;
    margin: 5rem;
}

// table, th, td {
//     border:1px solid #BBE6E4;
//     border-style: dotted;
//     width:100%;
//     height: 50%;
//   }
table, th, td {
  border:1px solid #BBE6E4;
  border-collapse: collapse;
  border-style: dotted;
  
}

  .table{
    height: 15rem;
    width: 20rem;
  }

.pencil{
    height: 20px;
    width: 20px;
}
button{
  background-color: #F6FFFF;
}