<div class="box">
    <ion-content>
        <div>
            <ion-grid>
                <ion-row>
                    <ion-col size="3">Linked</ion-col>
                    <ion-col size="6"></ion-col>
                    <ion-col size="2">
                        <ion-col size="2"> <img src="../../../assets/image/Layer_2.png" alt=""></ion-col>
                        <ion-col size="2"> <img src="../../../assets/image/add 3.png" alt=""></ion-col>
                    </ion-col>
                </ion-row>
                <div class="gap">
                    <ion-grid>
                    <ion-row>
                        <ion-col>
                            <div class="mleft">
                                <img src="../../../assets/image/story.png" alt="">
                                <span>story</span>
                            </div>
                        </ion-col>
                        <ion-col>
                            <div class="mleft">
                                <img src="../../../assets/image/user-interface (2) 1.png" alt="">
                                <label>ui 1</label>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                </div>
            </ion-grid>
        </div>
    </ion-content>
</div>