<div class="rectangle">
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <div class="mleft">
                    <div>
                        <img src="../../../assets/Group 290.png" alt="">
                    </div>
                </div>
            </ion-col>
            <ion-col class="alignCenter" size="6">
                <div>
                    <ion-row>
                        <ion-col size="10"><div class="">
                            <app-search-bar></app-search-bar>
                        </div></ion-col>
                        <ion-col size="1">
                            <div> <button (click)="AddPopover($event)"> <img src="../../../assets/add 2.png" alt=""></button></div>
                        </ion-col>
                        <ion-col size="1">
                            <div><button (click)="presentPopover($event)"><img src="../../../assets/3dot menu btn.png" alt=""></button></div>
                        </ion-col>
                    </ion-row>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
       
