<ion-grid>
    <ion-row>
        <ion-col size="2">
            <div class="card">
                <ion-row>
                    <ion-col>
                        <ion-row>
                            <ion-col size="1">
                                <div class="box">
                                    <img src="{{dataReceving.imageurl}}" alt="image">
                                </div>
                            </ion-col>
                            <ion-col size="3">
                                <div class="box">
                                    <h5>{{dataReceving.Title}}</h5>
                                </div>
                            </ion-col>
                            <ion-col size="2">
                                <div class="box">
                                    <div>
                                        <img src="../../assets/image/people tags group.png" alt="">
                                    </div>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col size="2">
                        <ion-row>
                            <ion-col size="3">
                                <div class="box">
                                    <div>
                                        <img src="../../assets/image/pencil 1.png" alt="">
                                    </div>
                                </div>
                            </ion-col>
                            <ion-col size="3">
                                <div class="box">
                                    <div>
                                        <img src="../../assets/image/Group 48.png" alt="">
                                    </div>
                                </div>
                            </ion-col>
                            <ion-col size="3">
                                <div class="box">
                                    <div>
                                        <button >
                                            <img src="../../assets/3dot menu btn.png" alt="">
                                        </button>
                                        
                                    </div>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>

                <div class="marginTp">
                    <ion-row>
                        <ion-col class="mlft" size="1">
                            <div class="bx">
                                <p>#adsf</p>
                            </div>
                        </ion-col>
                        <ion-col class="mlft" size="1">
                            <div class="bx">
                                <p>#adsf</p>
                            </div>
                        </ion-col>
                        <ion-col class="mlft" size="1">
                            <div class="bx">
                                <p>#adst</p>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>

                <div class="mtop">
                    <ion-row>
                        <ion-col>
                            <div>
                                <ion-row>
                                    <h5 class="txtclr">Title</h5>
                                </ion-row>
                                <div>
                                    <ion-row>
                                        <p class="txtSize">PocketATM</p>
                                    </ion-row>
                                </div>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="boxtopmargin">
                    <ion-row>
                        <ion-col>
                            <div class="mlft">
                                <ion-row>
                                    <h5 class="txtclr">Description</h5>
                                </ion-row>
                                <div>
                                    <ion-row>
                                        <p class="txtSize"> Pocket ATM is an application that enables flexible,
                                            efficient & seamless cash & credit management </p>
                                    </ion-row>
                                </div>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>

                <div class="boxtopmargin">
                    <ion-row>
                        <ion-col>
                            <div class="mlft">
                                <ion-row>
                                    <h5 class="txtclr">Status</h5>
                                </ion-row>
                                <div>
                                    <ion-row>
                                        <p class="txtSize clrylw">InProgress</p>
                                    </ion-row>
                                </div>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>

                <div class="boxtopmargin">
                    <ion-row>
                        <ion-col>
                            <div class="mlft">
                                <ion-row>
                                    <h5 class="txtclr">Product Link</h5>
                                </ion-row>
                                <div>
                                    <ion-row>
                                        <p class="txtSize">www.productlink.com</p>
                                    </ion-row>
                                </div>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>

                <div class="boxtopmargin">
                    <ion-row>
                        <ion-col>
                            <div class="mlft">
                                <ion-row>
                                    <h5 class="txtclr">logo</h5>
                                </ion-row>
                                <div>
                                    <ion-row>
                                        <div>
                                            <img class="txtSize1" src="{{dataReceving.imageurl}}" alt="">
                                        </div>
                                    </ion-row>
                                </div>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="boxtopmargin">
                    <ion-row>
                        <ion-col>
                            <div class="mlft">
                                <div>
                                    <ion-row>
                                        <ion-col size="1">
                                            <div><img src="../../assets/image/326655_history_icon 1.png" alt=""></div>
                                        </ion-col>
                                        <ion-col size="1">
                                            <div><img src="../../assets/Mask group.png" alt=""></div>
                                        </ion-col>
                                        <ion-col class="margm">last modification : <span>28Mar @ 2022</span> at
                                            <span>11:07am</span>
                                        </ion-col>
                                    </ion-row>
                                </div>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-col>
    </ion-row>


</ion-grid>