.PartA{
    height: 42rem;
    width:38rem ;
    box-shadow:0 -2px 4px #42bfdd1a,0 4px 4px #42bfdd1a ;
    position: sticky;
    display: inline-block;
    margin-top: 10px;
    background-color: #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    padding-left: 10px;
}
.padng{
    padding: 10px;
}
.iconHt{
    height: 23px;
    width: 23px;
}

.wdth{
    width: 80px;
}
.PartB{
    height: 17rem;
    width:22rem ;
    box-shadow:0 -2px 4px #42bfdd1a,0 4px 4px #42bfdd1a ;
    position: sticky;
    display: inline-block;
    margin-top: 10px;
    background-color: #FFFFFF;
    padding-left: 10px;
    margin-left: 15px;
    padding-top: 10px;
}

.boxlist{
    box-shadow:0 -2px 4px #42bfdd1a,0 4px 4px #42bfdd1a ;
    height: 10rem;
    width: 19rem;
    border: 1px solid #BBE6E4;
    position: sticky;
    display: inline-block;
    padding-left: 15px;
    padding-top: 15px;
}

.imgheight{
    height: 12px;
    width: 12px;
    margin-right: 4px;
}
li{
    margin-left: 25px;
    margin: 10px;
}

.box{
    margin-top: 25px;
    height: 40rem;
    width: 30rem;
    border: 1px solid #FFFFFF;
}
.box1{
    border: 1px solid #BBE6E4;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 5px;
    height: 32px;
    font-family: "Poppins";
}

.boxtopmargin{
    margin-top: 5px;
}
.mlft{
    margin-left: 5px;
}
.margm{
    margin-top: 0px;
}

label{
    color: gray;
}

button{
    background-color: #FFFFFF;
}

.img{
    height: 30px;
    width: 25px;
}

.border{
    border-left: 4px solid red;
}